.demo {
  display: flex;
  flex-flow: row wrap;
}
  md-list {
    border: 1px;
    border-color: solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;
  }

  md-nav-list {
   border: 1px;
    border-color: solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;
  }

  h2 {
    margin-top: 20px;
  }

  md-icon {
    /*color: rgba(0, 0, 0, 0.12);*/
    color:blue;
   }

  [md-list-icon] {
    color: green;
    background: rgba(0, 0, 0, 0.3);
  }

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
