<md-list *ngFor="let item of items" [hidden]="boolVisible" >
  <md-list-item   (click)="checkForRequirementsOrOptions(item)">
    <img md-list-avatar [src]="item.iconUrl" alt="...">
    <h1 md-line > {{item?.name}} </h1>

     <td class="prizecolor padbot25 padright2" *ngIf="item?.prize_small"> {{item?.prize_small}}/{{item?.prize_large}}</td>
     <td class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>

    <td>
      <md-icon class="material-icons md-14 padbot20"  > euro_symbol </md-icon>
    </td>
    <td style="padding-right: 20px"></td>
       <td>
      <md-icon class="material-icons md-16" style="padding-bottom: 20px">keyboard_arrow_right </md-icon>
    </td>
    <md-card-subtitle md-line>
     {{item?.description}}</md-card-subtitle>
  </md-list-item>
  <md-divider style="color: rgb(204,255,144)"></md-divider>
</md-list>

