<md-list class="list-item"  *ngFor="let item of items" [hidden]="boolVisible" (click)="checkForRequirementsOrOptions(item)">
<div class="mr">
   <span >
   <app-counter-item [itemKey] = "item.name" ></app-counter-item>
   </span>
   <span class="main">
   <img   md-card-avatar src="../../../../assets/imgs/PNI_4475-2.jpg" alt="...">
   <!-- md-card-sm-image -->
   </span>
 <span class="subc">

   <div class="subr">

          <span class="bigitem padding-left productname"> {{item?.name}}</span>
          <span  *ngIf="item?.prize_small"> {{item?.prize_small}}/{{item?.prize_large}}</span>
          <span  *ngIf="item?.prize">{{item?.prize}}  </span>
          <md-icon class="font14">euro_symbol</md-icon>


   </div>
   <div class="subr">
      <span  class="bigitem padding-left leighter" *ngIf="item?.description">{{item?.description}}</span>
      <span >
         <md-icon class="keyboard-arrow-right-color font16">keyboard_arrow_right</md-icon>
         </span>
   </div>
 </span>
</div>
</md-list>
