/*md-list-item {
  color:red;
 }*/

.material-icons.md-14 {  font-size: 14px; width: 14px; color: rgba(0, 0, 0, 0.54);}

.prizecolor{
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
/*  height: 14px; */
 }
