<md-toolbar color="primary">Options</md-toolbar>

<div class="bc-primary-light" style ="height:100vh;">

	<md-list  *ngFor="let item of paingarnisoptions ">
    <md-list-item style="color:white;">
					<md-checkbox (click)="toggle(item.name)"></md-checkbox>
					{{item?.name}}
				<td style="padding-right: 20px"></td>
    </md-list-item>
				<md-divider style="color:white;"></md-divider>
	</md-list>
      <!--<h2 class="md-title">Selected Items</h2>
      <code style="display: block; padding: 8px;">{{selected | json}}</code>-->
<span class="app-action">
      <button md-fab  (click)="addOrder()">
        <md-icon style="color:white">add</md-icon>
      </button>
      </span>
</div>
