<md-toolbar class="bg-primary-700">Options</md-toolbar>

<div class="bg-primary-300 height-100-vh">

	<md-list  *ngFor="let item of paingarnisoptions ">
    <md-list-item class="c-white">
					<md-checkbox (click)="toggle(item.name)"></md-checkbox>
					{{item?.name}}
				<td class="pad-r-20"></td>
    </md-list-item>
				<md-divider class="c-white"></md-divider>
	</md-list>
      <!--<h2 class="md-title">Selected Items</h2>
      <code styles ="display: block; padding: 8px;">{{selected | json}}</code>-->
<span class="app-action">
      <button md-fab  (click)="addOrder()">
        <md-icon class="c-white">add</md-icon>
      </button>
      </span>
</div>
