.showPickupTime {
  flex:inline-block;
  /* flex: 1 1 50%; /* ~ 2 * 33.33% */
  flex:3;
  //border: 5px solid md-color($custom-color-primary,700);
 box-sizing: border-box;

}
.border-fat{
//  border: 2px solid orangered;
//color:red;
//background-color:blue;
background: #ddd;
//border-color:purple;
}
//input.ng-dirty { background: #ddd; }
