	<md-radio-group>
  	<md-list class="bg-primary-300" >
      <md-list-item class="c-white">

      <span class="bigitem">
						<md-radio-button  value="2" (click)="setPrize('small')">
							<span class="c-white">small</span>
						</md-radio-button>
      </span>
      <span > {{prize_small}}
					<md-icon class="font14 c-white" > euro_symbol </md-icon>
				</span>
			</md-list-item>
				<md-divider md-inset class="c-white"></md-divider>
			<md-list-item class="c-white">
			<span class="bigitem">
						<md-radio-button   value="2" (click)="setPrize('large')">
							<span class="c-white">	large</span>
						</md-radio-button>
			</span>

				<span class="padright2"> {{prize_large}}
					<md-icon class="font14 c-white"> euro_symbol </md-icon>
				</span>
			</md-list-item>
		</md-list>
	</md-radio-group>
