	<md-radio-group>
		<md-list>
			<md-list-item>
				<h1 md-line>
					<td>
						<md-radio-button value="2" (click)="setPrize('small')">
							small
						</md-radio-button>
					</td>
				</h1>
				<td class="prizecolor padright2"> {{prize_small}} </td>
				<td>
					<md-icon class="material-icons md-14 padtop10"> euro_symbol </md-icon>
				</td>
			</md-list-item>
			<md-divider style="color: rgb(204,255,144)"></md-divider>
			<md-list-item>
				<h1 md-line>
					<td>
						<md-radio-button value="2" (click)="setPrize('large')">
							large
						</md-radio-button>

					</td>
				</h1>
				<td class="prizecolor padright2"> {{prize_large}} </td>

				<td>
					<md-icon class="material-icons md-14 padtop10"> euro_symbol </md-icon>
				</td>
				<md-divider style="color: rgb(204,255,144)"></md-divider>

			</md-list-item>

		</md-list>
	</md-radio-group>
