	<md-radio-group>
  	<md-list  >
      <md-list-item >

      <span class="bigitem">
						<md-radio-button  value="2" (click)="setPrize('small')">
							<span >small</span>
						</md-radio-button>
      </span>
      <span > {{prize_small}}
					<md-icon class="font14" > euro_symbol </md-icon>
				</span>
			</md-list-item>
				<md-divider class="c-accent-100"></md-divider>
			<md-list-item >
			<span class="bigitem">
						<md-radio-button   value="2" (click)="setPrize('large')">
							<span >	large</span>
						</md-radio-button>
			</span>

				<span class="padright2"> {{prize_large}}
					<md-icon class="font14"> euro_symbol </md-icon>
				</span>
			</md-list-item>
		</md-list>
	</md-radio-group>
