<!--<button md-raised-button color="primary" id="pp-button" (click)="getToken()" disabled >PRIMARY</button>-->
<md-card>
   <md-card-header>
      <img md-card-avatar src="assets/imgs/PNI_4475-2.jpg">
      <md-card-title>.....Please wait while PayPal is processing.......</md-card-title>
      <md-card-subtitle>We serve fresh products every day</md-card-subtitle>
   </md-card-header>
   <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
   <img md-card-image src="assets/imgs/PNI_4335-2.jpg">
   <md-card-content>
      <p>Ethnicfoods Thanks you</p>
   </md-card-content>
</md-card>

