<md-toolbar class="bg-primary-500 c-white">
  <span style="width:30vw" class="hover-a" (click)="goToHome()"><a class="material-icons">home</a></span>

<span style="width:60vw">Extra Options</span>

<!-- This fills the remaining space of the current row -->
<span class="example-fill-remaining-space"></span>
<span style="width:20vw"class="hover-a" (click)="goToTypeOfBread()"><a class="material-icons">keyboard_arrow_left</a></span>

</md-toolbar>

<div>
  <md-list *ngFor="let item of extraOptions ">
       <span >
   <app-counter-item [itemKey] = "item.$key" ></app-counter-item>
   </span>

    <md-list-item>
      <md-checkbox (click)="toggle(item)"></md-checkbox>
      <span class="bigitem padding-left productname">	{{item?.name}}</span>
      <span> {{item?.prize}}</span>
      <md-icon class="font14">euro_symbol</md-icon>
    </md-list-item>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <!--<h2 class="md-title">Selected Items</h2>
      <code styles ="display: block; padding: 8px;">{{selected | json}}</code>-->

</div>
<md-toolbar style="height:100vh" class="bg-primary-500">
<span style="width:80vw"></span>
<span class="example-fill-remaining-space"></span>

<span style="width:20vw">
<button md-fab [disabled]="boolDisabled" (click)="addOrder()">
        <md-icon class="material-icons">navigate_next</md-icon>
      </button>
</span>
</md-toolbar>
