<md-toolbar class="bg-primary-500 c-white">
    <span class="width-33 hover-a" (click)="goToHome()"><a class="material-icons">home</a></span>

    <span>Ordered</span>


    <span class="example-fill-remaining-space"></span>
    <span style="width:20vw" class="hover-a" (click)="goToPickupOrDeliveryMenu()"><a class="material-icons">keyboard_arrow_left</a></span>
    <span class="hover-a" (click)="goToInvoice()"><a class="material-icons" >picture_as_pdf</a></span>
    <span class="hover-a" (click)="goToCheckout()"><a class="material-icons" >payment</a></span>
  </md-toolbar>
