<div class="height-100-vh" *ngIf="this.orderService.getProduct()?.prize_small">
<app-md-card-subtitle title="size(Required)" [product]="this.orderService.getProduct()?.name" [description]="this.orderService.getProduct()?.description"></app-md-card-subtitle>

<app-radio-button-with-prize  [prize_small]="this.orderService.getProduct()?.prize_small" [prize_large]="this.orderService.getProduct()?.prize_large" (setPrizeEvent)="setPrize($event)"></app-radio-button-with-prize>
<app-md-card-subtitle title="Type of bread(required)"></app-md-card-subtitle>

<app-radio-button-without-prize [items]="paingarnisrequired" (setTypeEvent)="setType($event)"></app-radio-button-without-prize>

<!--<app-total-prize   [totalPrize]="this.orderService.getTempTotalPrize() | number"></app-total-prize>-->

<span class="app-action">
      <button md-fab [disabled]="boolDisabled" (click)="gotoOptions()">
        <md-icon class="c-white">add</md-icon>
      </button>
</span>
</div>
