<div class="myclass">
<a md-raised-button style="color:white" color="primary" (click)="goToPickup()">Pickup yourself at <span style="font-weight:bold">EthnicFoods</span></a>
</div>
<br>
<div class="myclass">
<span class="bg-accent-100"> 14 rue de la Croix de Fer à 1000 Bruxelles</span>
</div>
<br>
<div>
  <hr class="c-primary-700">
</div>
<br>

<div class="myclass">
<button md-raised-button style="color:white" color="primary" (click)="goToDeliveryAddress()">Delivery at certain address.</button>
</div>
<br>
<div>
 <span class="bg-accent-100"> Delivery is free of charge for orders equal to or more than 10 € and 1km around the caterer (rue de la Croix de Fer 14, 1000 Brussels). Otherwise, we add € 5 per 1km.</span>
</div>
