<div id="mainContainer" style="background-color: #E0E0E0;">

<div id="titleContainer">
  <md-toolbar class="master-card">
    <span style="width:1vw;height:5vh;font-size:1px;background-color:#CDDC39" >.</span>
<span style="width:2vw;"></span>
<span style="width:70vw;font-size:18px">Ethnicfoods<br><span style="font-size:9px;padding-left:30px">.be</span>
</span>
<span>rue de la Croix de Fer, 14 à 1000 Bruxelles<br>
      Email: rahim032@hotmail.com
      </span>
<i class="material-icons" (click)="createPDF()">picture_as_pdf</i>

</md-toolbar>
</div>

<div id="wrap2Container">
  <div id="invoiceDetailsContainer">

    <md-grid-list cols="6" rowHeight="25px" rowWidth="100vw" layout-align="none">
      <md-grid-tile *ngFor="let tile of tilesInvoiceTo" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
        [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
        <!--<span>
       <span> {{tile.text}}</span>
        <br>
        <span class="text2style">{{tile.total}}</span>
        </span>-->
        <span>

        <span >{{tile.title}}</span>
        <br>

        <span class="text2style">{{tile.name}}</span>
        <br> <span [style.font-size]="tile.font10">{{tile.address}}</span>
        <br> <span [style.font-size]="tile.font10"><i class="material-icons font8">settings_phone</i>{{tile.phone}}</span>

        <!--<br> <span [style.font-size]="tile.font10"><i class="material-icons font8">settings_phone</i>{{tile.phone}}</span>-->
        <br> <span [style.font-size]="tile.font10"><i class="material-icons font8">email</i>{{tile.email}}</span>
        </span>

      </md-grid-tile>


      <md-grid-tile *ngFor="let tile of tilesInvoiceTotal" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize"
        [colspan]="tile.cols" [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
        <span>
       <span> {{tile.text}}</span>
        <br>
        <span>{{tile.total}}</span>
        </span>
      </md-grid-tile>

    </md-grid-list>
    <md-grid-list cols="6" rowHeight="17px" rowWidth="100vw" layout-align="none">
      <md-grid-tile *ngFor="let tile of tilesInvoiceDetailsTitle" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize"
        [colspan]="tile.cols" [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
        <div>{{tile.description}}</div>
        <div>{{tile.unitPrice}}</div>
        <div>{{tile.quantity}}</div>
        <div>{{tile.total}}</div>
      </md-grid-tile>
      <div *ngFor="let rowData of tilesInvoiceDetailsPainVeg">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <div>{{tile.quantity}}</div>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsPainVol">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <div>{{tile.quantity}}</div>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsPainViande">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <div>{{tile.quantity}}</div>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsPainPoisson">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <div>{{tile.quantity}}</div>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
    </md-grid-list>
    <md-grid-list cols="6" rowHeight="27px" rowWidth="100vw" layout-align="none">
      <div *ngFor="let rowData of tilesInvoiceDetailsPlatDuJour">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsPetiteEntree">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsFormule">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsSalades">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsSpecialites">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <div class="text-inside-grid">{{tile.description}}</div>
        </md-grid-tile>
      </div>
      <div *ngFor="let rowData of tilesInvoiceDetailsDesserts">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}}</div>
          <!--<div >{{tile.description}}</div>-->
        </md-grid-tile>
      </div>
    <!--</md-grid-list>
    <md-grid-list cols="6" rowHeight="20px" rowWidth="100vw" layout-align="none">-->

      <div *ngFor="let rowData of tilesInvoiceDetailsDrinks">
        <md-grid-tile *ngFor="let tile of rowData" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols"
          [rowspan]="tile.rows" [style.color]="tile.color" [style.background]="tile.bgcolor">
          <div>{{tile.name}}</div>
          <div>{{tile.typeOfBread}}</div>
          <div>{{tile.unitPrice}}</div>
          <div>
            <app-counter-item [itemKey]="tile.quantity"></app-counter-item>
          </div>
          <div>{{tile.total}} </div>
          <!--<div >{{tile.description}}</div>-->
        </md-grid-tile>
      </div>
    <!--</md-grid-list>
  <md-grid-list cols="6" rowHeight="13px" rowWidth="100vw" layout-align="none">-->
      <md-grid-tile  *ngFor="let tile of tilesInvoiceTotalDetail" style="text-align: left !important;" [style.font-weight]="tile.boldvar" [style.font-size]="tile.fontsize" [colspan]="tile.cols" [rowspan]="tile.rows" [style.color]="tile.color"
[style.background]="tile.bgcolor">
<div>{{tile.subTotalDescription}}</div>
<div>{{tile.subTotal}}</div>
<div>{{tile.taxDescription}}</div>
<div>{{tile.tax}}</div>
<div>{{tile.totalDescription}}</div>
<div>{{tile.total}}</div>
</md-grid-tile>
</md-grid-list>

</div>

</div>

<!--<div id="wrap3Container">-->
<!--
  <span class="note">If you have questions,please contact </span>
  <h5>rahim032@hotmail.com</h5>
  <span class="note">Thank you</span>-->
</div>
<!--<button (click)="createPDF()">Export to  PDF</button>-->

<!--</div>-->
<!--<span>
  <span class="note">If you have questions,please contact </span>
  <h5>rahim032@hotmail.com</h5>
  <span class="note">Thank you</span>
</span>
<!--</div>
<button (click)="createPDF()">Export to  PDF</button>-->
<!--</div>-->
