
.card{
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  color: black;
  background-color: transparent;
   padding-top: 0px;
}

//.mytable {width:150px;height: 50px};
//.mytable .left {padding:0px; text-align:left;padding-bottom: 30px;spacing:20px}
//.mytable .right {right: 0;position: absolute;}
/*.right {padding:0px;padding-bottom: 30px;text-align:right;}*/

