<style>
    #mytable {width:250px;}
    #mytable .left {padding:0px;text-align:left;padding-bottom: 30px;spacing:20px}
    #mytable .right {padding:0px;padding-bottom: 30px;text-align:right;}
</style>

<md-card  class="card" >
  <table id="mytable">
    <tr>
        <td class="left">Total prize({{ this.os.getTotalPrize() }})</td>
        <td class="right" (click)="goToOrder()">View Orders</td>
    </tr>
</table>

  <!--<button md-fab (click)="goToOrder()">
        <md-icon >go</md-icon>
      </button>-->

</md-card>

