/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons.css';
@import '~@angular/material/core/theming/prebuilt/purple-green';

$primary-color-dark:#691A99;
$primary-color-medium:#7A1EA1;
$primary-color-light:#9B26AF;
$accent-color:#68EFAD;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.material-icons.md-14 {
  font-size: 14px;
  width: 14px;
}

.list-item:hover{
 /*color: #F0F4C3;
background-color: #DCEDC8;*/
.prizecolor{
  color:white;
}
background-color: #AA00FF;
 width: 100vw;
}

.prize{
  @extend .prizecolor;
font-size: 15px;
  padding-left: 20px;
  padding-top: 0;
  box-shadow: default;
}
.prizecolor {
  color: rgba(0, 0, 0, 0.54);
}

.divider{
  background-color:$primary-color-light;

  color: $primary-color-light;
  width:100vw;
}

.productname {
  @extend .c-accent;
  font-weight: bold;
  padding-left: 20px;
}
 .bc-accent{
   background-color:$accent-color;
 }
 .c-accent{
   color:$accent-color;
 }

 .bc-primary-dark{
   background-color:$primary-color-dark;
 }

.c-primary-dark{
   background-color:$primary-color-dark;
 }

.bc-primary-medium{
   background-color:$primary-color-medium;
 }
.c-primary-medium{
   background-color:$primary-color-medium;
 }

.bc-primary-light{
   background-color:$primary-color-light;
 }
.c-primary-light{
   background-color:$primary-color-light;
 }


.listitems{
padding-top:0px;
}
