/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/purple-green';*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*@import '~@angular/material/core/theming/all-theme';
@include md-core();*/

//@import './lightgreen-amber.scss';
@import './amber-pink.scss';

@include angular-material-theme($custom-theme);

body {
  font-size:14px;
  line-height:14px;
  font-family: Roboto, sans-serif;

}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.productname {
 color: md-color($custom-color-accent,A700);
  font-weight: bold;
  font-size:16px;
}
md-icon{
color:white;
}
.mr {
  display: -webkit-flex;
   display: flex;
  -webkit-flex-direction:row;
  flex-direction: row;
 box-sizing: border-box;

 /* border:1px orange solid; */
}

.subr{
 display: -webkit-flex;
   display: flex;
  -webkit-flex-direction:row;
  flex-direction: row;
 box-sizing: border-box;

}

.subc{
  display: -webkit-flex;
   display: flex;
  -webkit-flex-direction:column;
  flex-direction:column;
    width:100vw;
     box-sizing: border-box;
}

.bigitem {
   flex: 2 0 0;
}

.padding-left{
   padding-left:5px;
}

.fillupspace{
  width:10%;
/*  border:yellow solid 2px;*/
}

[md-card-sm-image] {
   position: relative;
    height: 60px;
    width: 60px;
    padding-top:8px;
    padding-bottom: 5px;
    padding-right: 10px;
}


$accent-color:#7C4DFF;
.md-14 {
  font-size: 14px;
  /*width: 14px;*/

}



.md-16 {
  font-size: 16px;

}

.list-item:hover{
  color:white;
  background-color: grey;
}



