<div class="bc-primary-light">
<md-toolbar color="primary" style="width:100%;">
<span style="width:33%;" (click)="goToHome()"><a md-button >Home</a></span>
  <span style="widht:33%;">Ordered</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><a md-button >Payment</a></span>
</md-toolbar>

<md-list  *ngFor="let item of order.painVegetarien trackBy:item?.$key;">
	<md-list-item  >
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
			<span><b>	{{item?.typeOfBread}}: </b></span>
			<span *ngIf="item?.options[0]">{{item?.options[0]}}</span>
      <span *ngIf="item?.options[1]">,{{item?.options[1]}}</span>
       <br class="rwd-break530">
      <span *ngIf="item?.options[2]">,{{item?.options[2]}}</span>
       <br class="rwd-break670">
      <span *ngIf="item?.options[3]">,{{item?.options[3]}}</span>
      <span *ngIf="item?.options[4]">,{{item?.options[4]}}</span>
    	<md-divider ></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>
<md-list  *ngFor="let item of order.painVolaille trackBy:item?.$key;">
	<md-list-item >
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
			<span><b>	{{item?.typeOfBread}}: </b></span>
			<span *ngIf="item?.options[0]">{{item?.options[0]}}</span>
      <span *ngIf="item?.options[1]">,{{item?.options[1]}}</span>
       <br class="rwd-break530">
      <span *ngIf="item?.options[2]">,{{item?.options[2]}}</span>
       <br class="rwd-break670">
      <span *ngIf="item?.options[3]">,{{item?.options[3]}}</span>
      <span *ngIf="item?.options[4]">,{{item?.options[4]}}</span>
    	<md-divider ></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>

<md-list  *ngFor="let item of order.platdujour trackBy:item?.$key;">
	<md-list-item>
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
    	<md-divider class="background-color-accents" ></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>
<md-card style="opacity:0.4;background: #FAFAFA;">
</md-card>
</div>
