<!--<script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
  </script>-->

<div id="productShowcaseContainer">
  <md-toolbar class="bg-primary-500 c-white">
    <span class="width-33 hover-a" (click)="goToHome()"><a class="material-icons">home</a></span>

    <span>Ordered</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
 <span class="hover-a" (click)="goToInvoice()"><a class="material-icons" >picture_as_pdf</a></span>
    <span class="hover-a" (click)="goToCheckout()"><a class="material-icons" >payment</a></span>
  </md-toolbar>

  <md-list *ngFor="let item of order.painVegetarien" class="width-100-p">
    <span id="productShowcaseContainer">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail">
         <span class="product-name" > {{item?.name}}</span>
    <span>{{item?.typeOfBread}}</span><span *ngIf="item?.prize === item?.prize_large">(Large)</span> <span *ngIf="item?.options.length > 0"> : {{item?.options}}</span>
    </span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>

  <md-list *ngFor="let item of order.painVolaille" class="width-100-p">
    <span id="productShowcaseContainer">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail">
         <span class="product-name" > {{item?.name}}</span>
    <span>{{item?.typeOfBread}}</span><span *ngIf="item?.prize === item?.prize_large">(Large)</span> <span *ngIf="item?.options.length > 0"> : {{item?.options}}</span>
    </span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>


  <md-list *ngFor="let item of order.painViande" class="width-100-p">
    <span id="productShowcaseContainer">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail">
         <span class="product-name" > {{item?.name}}</span>
    <span>{{item?.typeOfBread}}</span><span *ngIf="item?.prize === item?.prize_large">(Large)</span> <span *ngIf="item?.options.length > 0"> : {{item?.options}}</span>
    </span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>

  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.painPoisson" class="width-100-p">
    <span id="productShowcaseContainer">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail">
         <span class="product-name" > {{item?.name}}</span>
    <span>{{item?.typeOfBread}}</span><span *ngIf="item?.prize === item?.prize_large">(Large)</span> <span *ngIf="item?.options.length > 0"> : {{item?.options}}</span>
    </span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>

  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.platdujour" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.dessert" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>
  <md-list *ngFor="let item of order.formule" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.petiteentree" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>
  <md-list *ngFor="let item of order.specialite" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.salade" class="width-100-p">
    <span id="productShowcaseContainer">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name"> {{item?.name}}</span>
    <span><i class="material-icons" (click)="deleteItem(item)">delete</i></span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
  <md-divider class="c-accent-100"></md-divider>

  <md-list *ngFor="let item of order.drinks" class="width-100-p">
    <span id="productShowcaseContainer">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail">
         <span class="product-name" > {{item?.name}}</span>
    </span>
    <span><i class="material-icons" (click)="deleteDrink(item)">delete</i></span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
    </span>
    <md-divider class="c-accent-100"></md-divider>
  </md-list>
</div>
<md-divider class="c-accent-100"></md-divider>

<div id="productShowcaseContainer" class="c-text-footer">
  <span id="pad-left"></span>

  <div id="showTotal" style="height:100vh">
<div class="showPickupTime border-accent-700 ">
  CHOOSE YOUR PICKUP TIME
  <br><span class="bg-accent-100 border-fat">{{this.orderService.getPickupTime()}}</span>
  <app-datetime></app-datetime>
</div>
</div>
<div id="showTotal">

  <div id="showTotalContainer" class="border-accent-700 ">

    <div id="showTotalText">
      <span>Sub</span>
      <br>
      <span>Tax 6%</span>
      <br>
      <span>Total</span>
    </div>

    <span class="showTotalPrize ">
          <span class="right-pos">{{ this.orderService.getTotalPrizeAsString() }}<md-icon class="font14">euro_symbol</md-icon></span>
    <br>
    <span class="right-pos">{{this.orderService.getTotalTaxAsString() }}<md-icon class="font14">euro_symbol</md-icon></span>
    <br>
    <span class="right-pos bg-accent-100 border-fat">{{this.orderService.getTotalPrizeWithTaxAsString() }}<md-icon class="font14">euro_symbol</md-icon></span>
    </span>
  </div>
  <span>
<br>
    <div style="color:red;" class="hover" (click)="goToCheckout()"><a class="material-icons">payment</a><span class="hover rightpos">Payment</span></div>
    <div style="color:red;" class="hover" (click)="goToInvoice()"><a class="material-icons">picture_as_pdf</a><span class="hover rightpos">Facture</span></div>

  <!--<span >
    <button md-raised-button color="accent" (click)="goToInvoice()">Invoice<a (click)="goToInvoice()"  class="material-icons">receipt</a></button>
    </span>-->
  </span>
  <!--<span>Invoice</span>
     <span class="hover-a" (click)="goToInvoice()"><a class="material-icons" >receipt</a></span>
  </span>-->
  <!--<div id="invoiceContainer">
    <div>
       </div>
  </div>-->
</div>


</div>
