<div id="productShowcaseContainer" class="bg-primary-300">
  <md-toolbar color="primary" >
    <span  class="width-33" (click)="goToHome()"><a md-button >Home</a></span>
    <span >Ordered</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span (click)="goToCheckout()"><a md-button >Payment</a></span>
  </md-toolbar>

  <md-list  *ngFor="let item of order.painVegetarien trackBy:item?.$key;" class="width-100-p">
   <span id="productShowcaseContainer" class="c-white">
    <span id="pad-left"></span>

    <span id="productShowcaseDetail" >
         <span class="product-name" > {{item?.name}}</span>
    <span >{{item?.typeOfBread}}: {{item?.options}}</span>
    </span>
    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
   </span>
   <md-divider class="c-white"></md-divider>
  </md-list>

<md-divider class="c-white"></md-divider>

  <md-list id="productShowcaseContainer"  *ngFor="let item of order.platdujour trackBy:item?.$key;" class="width-100-p">
  <span id="productShowcaseContainer" class="c-white">
 <span id="pad-left"></span>

    <span id="productShowcaseDetail" class="product-name" > {{item?.name}}</span>

    <span id="productShowcaseThumbnailContainer">

          <span >{{item?.prize}}<md-icon class="font14">euro_symbol</md-icon> </span>
    </span>
    <span id="empty-el"></span>
  </span>
<md-divider class="c-white"></md-divider>
  </md-list>


</div>
<md-divider class="c-white"></md-divider>

<div id="productShowcaseContainer"  class="c-text-footer">
 <span id="pad-left"></span>

<div id="showTotal">
  <div class="showPickupTime border-accent700 bg-accent-100">
    CHOOSE YOUR PICKUP TIME
    <br> {{pickupTime | date:'medium'}}
  </div>
</div>
  <div id="showTotal">

    <div id="showTotalContainer" class="border-accent700 bg-accent-100">

      <div id="showTotalText">
        <span>Total</span>
        <br>
        <span>Inclusive vat</span>
      </div>

      <span class="showTotalPrize ">
          <span class="right-pos">{{order.totalPrize | number}}<md-icon class="font14">euro_symbol</md-icon></span>
        <br>
          <span class="right-pos">{{order.totalPrize * 0.06 | number:''}}<md-icon class="font14">euro_symbol</md-icon></span>
      </span>

    </div>

  </div>

