<md-card style="width:100%;padding-left:1px;background: #FAFAFA;opacity:0.4;">
 <span style="width:30%;padding-left:1px;"> <button md-button (click)="goToHome()">Home</button></span><span class="cartc" >Cart</span><span style="width:20%;align:right;"><button md-button >Payment</button></span>
</md-card >
<md-list  *ngFor="let item of order.painVegetarien trackBy:item?.$key;">
	<md-list-item  >
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
			<span><b>	{{item?.typeOfBread}}: </b></span>
			<span *ngIf="item?.options[0]">{{item?.options[0]}}</span>
      <span *ngIf="item?.options[1]">,{{item?.options[1]}}</span>
       <br class="rwd-break530">
      <span *ngIf="item?.options[2]">,{{item?.options[2]}}</span>
       <br class="rwd-break670">
      <span *ngIf="item?.options[3]">,{{item?.options[3]}}</span>
      <span *ngIf="item?.options[4]">,{{item?.options[4]}}</span>
    	<md-divider style="color: rgb(204,255,144)"></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>
<md-list  *ngFor="let item of order.painVolaille trackBy:item?.$key;">
	<md-list-item >
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
			<span><b>	{{item?.typeOfBread}}: </b></span>
			<span *ngIf="item?.options[0]">{{item?.options[0]}}</span>
      <span *ngIf="item?.options[1]">,{{item?.options[1]}}</span>
       <br class="rwd-break530">
      <span *ngIf="item?.options[2]">,{{item?.options[2]}}</span>
       <br class="rwd-break670">
      <span *ngIf="item?.options[3]">,{{item?.options[3]}}</span>
      <span *ngIf="item?.options[4]">,{{item?.options[4]}}</span>
    	<md-divider style="color: rgb(204,255,144)"></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>

<md-list  *ngFor="let item of order.platdujour trackBy:item?.$key;">
	<md-list-item>
  	<h4 class="productname" md-line>
			{{item?.name}} </h4>

		<td  class="prizecolor padbot25 padright2" *ngIf="item?.prize"> {{item?.prize}}</td>
		<td>
			<md-icon class="material-icons md-14 padbot20"> euro_symbol </md-icon>
		</td>
		<td style="padding-right: 5px"></td>
		<md-card-subtitle md-line style="padding-left:50px">
    	<md-divider style="color: rgb(204,255,144)"></md-divider>
    </md-card-subtitle>
  </md-list-item>
</md-list>
<md-card style="opacity:0.4;background: #FAFAFA;">
</md-card>
